<h2>Create a Reservation</h2>

<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Guest Name </label>
    <input formControlName="guestName" type="text" placeholder="guest name.." />
    <div *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched" > Guest name is required.</div>
</div>
  <div>
    <label>Guest Email </label>
    <input formControlName="guestEmail" type="text" placeholder="guest email.." />
    <div *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched" > Guest email is required.</div>

</div>
  <div>
    <label>Check-In Date </label> 
    <input formControlName="checkinDate" type="date" placeholder="" />
    <div *ngIf="reservationForm.get('checkinDate')?.invalid && reservationForm.get('checkinDate')?.touched" > Check-in date is required.</div>

</div>
  <div>
    <label>Check-Out Date </label> 
    <input  formControlName="checkoutDate" type="date" placeholder="" />
    <div *ngIf="reservationForm.get('checkoutDate')?.invalid && reservationForm.get('checkoutDate')?.touched" > Check-out date is required.</div>

</div>
  <div>
    <label>Room Number </label> 
    <input formControlName="roomNumber" type="number" placeholder="" />
    <div *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched" > Room number is required.</div>

</div>
  <div>
      <button [disabled]="reservationForm.invalid" type="submit">Submit</button>

  </div>
</form>
